!!!
%html
  %head
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'getsubmit'
  %body
    #container
      #header
        %h1 getsubmit

        %ul.actions
          %li Login
          %li.signup Signup

        %ul.nav
          %li Home
          %li Product
          %li Customers
          %li News
          %li FAQ
          %li.demo Demo

      .about
        .copy
          Grow your
          %span Facebook fans
          %span Twitter followers &amp;
          %span Newsletter Subscribers
          %p.highlight We create instant contests for social networks.

      .how-it-works
        %h2 HOW IT WORKS : Easy as 1-2-3-4

        %ol
          %li
            %h3 EZ Build
            %p
              Use GetSubmit to build your campaign in just minutes.
              So quick.  So easy
          %li
            %h3 Review
            %p
              We create for you:
              %ul
                %li Facebook app
                %li Twitter app
                %li Landing page

          %li
            %h3 Promote
            %p
              Blog It.  Tweet it.  Facebook it.
              Tell the world and watch the word spread.

          %li
            %h3 Finish
            %p
              We track your contest entries, give you the list of subscribers
              and even help randomly pick the winners.
              So quick.  So easy

      .seeing-results
        %p Look who's seeing results
        %ul
          %li Coca-cola
          %li Toyota
          %li Wonder Bread

      #footer
        .examples
          %ul
            %li Art
            %li Comedy
        .newsletter
          Subscribe to our newsletter
        .connect
          Connect With Us


