
$orange: rgb(250, 104, 8)
$purple: rgb(90, 10, 90)

body
  font-family: arial
  width: 960px
  margin-left: auto
  margin-right: auto
  background-color: black
  color: white

.nav-link-highlight
  background-color: rgb(250, 104, 8)
  border-radius: 5px

#container
  position: relative

#header
  height: 110px
  h1
    position: absolute
    font-size: 40px
    top: 25px
    left: 50px

  ul.actions
    position: absolute
    right: 50px
    top: -10px
    font-size: 12px
    background-color: #373737
    padding: 10px
    padding-top: 20px
    border-radius: 10px
    a
      color: white
      text-decoration: none
      text-transform: uppercase
      font-size: 10px
      &:hover
        color: $orange
      &.signup
        color: $orange
        &:hover
          color: white
    li
      &:first-child
        padding-right: 10px
      display: inline

  ul.nav
    text-transform: uppercase
    position: absolute
    top: 75px
    left: 430px
    li
      float: left
      &:hover
        a
          @extend .nav-link-highlight
      a
        padding: 8px
        margin-right: 10px
        color: white
        text-decoration: none
        &.demo
          @extend .nav-link-highlight
          &:hover
            background-color: black
      .menu
        display: none

      &:hover
        .menu
          position: absolute
          border: 1px $orange solid
          display: block
          z-index: 1
          padding: 10px
          background-color: black
          color: white
          li
            padding: 5px 4px
            float: none
            a
              background-color: transparent
              &:hover
                background-color: transparent
                color: $orange


.about
  background-color: $purple
  height: 200px
  padding-top: 10px
  position: relative
  font-size: 18px
  .copy
    position: absolute
    line-height: 28px
    span
      font-size: 22px
    left: 430px
    .highlight
      color: orange
    span
      display: block

.how-it-works
  padding-left: 50px
  height: 250px
  background-color: white
  color: black
  font-size: 12px
  h2
    font-size: 30px
  h3
    font-size: 20px
    margin-bottom: 5px
  ol
    padding-top: 10px
    height: 200px
    border-top: 1px solid gray
    border-bottom: 1px solid gray
    width: 600px
    li
      margin-right: 20px
      width: 130px
      float: left

      ul
        li
          height: auto
          width: auto

.seeing-results
  padding-left: 50px
  height: 250px
  background-color: white
  color: black
  position: relative
  p
    position: absolute
    width: 100px
    font-size: 32px
    text-transform: uppercase
  ul
    position: absolute
    left: 250px
    top: 45px
    li
      text-transform: uppercase
      float: left
      margin-right: 30px
      font-size: 24px



#footer
  height: 100px
  text-align: center
  .examples
    height: 100px
    position: absolute
    width: 200px
    border-right: 1px solid gray
  .newsletter
    height: 100px
    position: absolute
    left: 210px
    width: 400px
  .connect
    height: 100px
    position: absolute
    left: 710px
    width: 200px
    border-left: 1px solid gray
